.controller.ds4,
.ds4.disconnected{
    background: url(https://raw.githubusercontent.com/TheSwerik/GamePadViewerCss/main/ps4.minimal.svg) no-repeat;
    width: 320px;
    height: 290px;
}

.ds4.disconnected div {
    display: none;
}

.ds4 .touchpad,
.ds4 .meta,
.ds4 .arrows,
.ds4 .sticks{
    display: none;
}

/*region triggers*/
.ds4 .triggers {
    left: 0;
    top: 0;
}

.ds4 .trigger.left {
    position: absolute;
    left: 13px;
}

.ds4 .trigger.right {
    position: absolute;
    left: 185.5px;
}
/*endregion*/

/*region bumpers*/
.ds4 .bumpers {
    position: absolute;
    left: 0;
    top: 94px;
}

.ds4 .bumper.left {
    position: absolute;
    left: 13px;
}

.ds4 .bumper.right {
    position: absolute;
    left: 185.5px;
}
/*endregion*/

.ds4 .abxy {
    position: absolute;
    left: 150px;
    top: 120px;
}

.ds4 .dpad {
    position: absolute;
    left: 0;
    top: 142px;
}
